*{
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
}
html{
     font-family:Arial, Helvetica, sans-serif;
}
#main{
     height: 59px;
     /* background-color: #162e44; */
}

#header{
     height: 59px;
     background-color: #162e44;
     position: fixed;
     top:0;
     /*max-width: 1170px; */
     align-items: center;
     right: 0;
     left: 0;
     justify-content: space-between;
     padding-left: 349px;
     padding-right: 349px;
     z-index: 1;
}

#nav{
     display: inline-block;
}
#nav , .subnav{     
     list-style-type: none;
}
#nav > li{
     display: inline-block; 
     
}
#nav > li {
     position: relative;
}
#nav li a{
     display: inline-block;
     color: #fff;
     text-decoration: none;
     line-height: 59px;
     padding: 0 15px;
     font-size: 16px;

}
#nav li:hover .subnav {
     display: block;
     
}
#nav .subnav li:hover,
#nav > li:hover > a{
     color: #000;
     background-color:rgba(255, 255, 255, 0.158) ;

}
#nav .subnav{
     display: none; 
     position: absolute;
     top:100%;
     left: 0;
     color: #000;
     background-color: rgba(2, 16, 63, 0.274);
     min-width: 150px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
     
}
#nav .subnav a{
     color: #000;
     font-size: 14px;
     line-height: 28px;
     margin: 8px 0px 8px 0px;
     
    
    
}
#header .sns-icon{
     font-size: 20px;
     color: sandybrown;
     float: right;
     line-height: 59px;
     display: block;
     
     
}
#header .sns-icon .ti-facebook, 
                    .ti-twitter, 
                    .ti-instagram, 
                    .ti-google{
     line-height: 59px;
     padding: 0 5px;
     
}

#header > .sns-icon:hover > i {
     cursor: pointer;
}


#slider{
     margin-top: 59px;
     padding-top: 50%;
     background-image: url(./image/top11.png);
     background-color: #f7f7f7;
     background-repeat: no-repeat;  
     height:1150px; 
}
#slider  .text-header{
     position: absolute;
     bottom: 580px;
     left: 30%;
     transform: translateX(-70%);
     color:#fff;
}

#slider .text-heading{
     font-weight: 500;
     font-size: 30px;
}
#slider .text-content{
     font-weight: 500;
     font-size: 60px;
}
#slider .tour-list{
     margin-left: 50%;
     transform: translateX(-50%);
     /* width: 1224px; */
     width: 64%;
     top: 670px;
     position: absolute;
}
#slider .tour-list .tour-item{
     float: left;
     padding-left: 15px;
     padding-right: 15px;
     /* bottom: -130px; */
     
}
#content{
     
}
#fotter{
     
}